# Segmenting and Clustering Neighborhoods in Toronto Canada
## Final Assignment (week 3) - Course 9
__Nick Sloot__

In [28]:
# load lib
import pandas as pd
import numpy as np

#Wikipedia data saved as csv
#load csv
wiki_data = pd.read_csv('Wiki_Canada_data.csv')
wiki_data.head(1)

  Postcode        Borough  Neighbourhood
0      M1A   Not assigned   Not assigned

### __clean data__

In [29]:
# Rename columns to remove spaces
wiki_data.rename(columns={'Postcode ':'Postcode', 'Borough ':'Borough', 'Neighbourhood':'Neighborhood'}, inplace=True) # remove wierd spaces in col titles

# remove not assigned
wiki_data['Borough'].replace(to_replace = 'Not assigned', value = np.nan, regex = True, inplace = True)
wiki_data = wiki_data[pd.notnull(wiki_data['Borough'])]
wiki_data.reset_index(drop= True, inplace = True)

# set Neighborhood to Borough
idx = wiki_data.loc[wiki_data['Neighborhood'] == "Not assigned"].index
for i in idx:
    wiki_data.iloc[i, 2] = wiki_data.iloc[i, 1] 

#groupby
wiki_data_grouped = wiki_data.groupby(['Postcode','Borough'], as_index = False, sort = False).agg(lambda x: ','.join(x))
wiki_data_grouped.head()

  Postcode            Borough                     Neighborhood
0     M3A         North York                         Parkwoods
1     M4A         North York                  Victoria Village
2     M5A   Downtown Toronto          Harbourfront,Regent Park
3     M6A         North York   Lawrence Heights,Lawrence Manor
4     M7A       Queen's Park                     Queen's Park

In [30]:
wiki_data_grouped.shape

(103, 3)

### __get lat and long__

In [31]:
latlong = pd.read_csv('Geospatial_Coordinates.csv')
latlong.rename(columns={'Postal Code':'Postcode'}, inplace=True)
latlong.head(2)

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497

In [33]:

result = pd.merge(left = wiki_data_grouped, right = latlong, on = 'Postcode', how = 'outer')
result.head(10)

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,NaN,NaN
1,M4A,North York,Victoria Village,NaN,NaN
2,M5A,Downtown Toronto,"Harbourfront,Regent Park",NaN,NaN
3,M6A,North York,"Lawrence Heights,Lawrence Manor",NaN,NaN
4,M7A,Queen's Park,Queen's Park,NaN,NaN
5,M9A,Etobicoke,Islington Avenue,NaN,NaN
6,M1B,Scarborough,"Rouge,Malvern",NaN,NaN
7,M3B,North York,Don Mills North,NaN,NaN
8,M4B,East York,"Woodbine Gardens,Parkview Hill",NaN,NaN
9,M5B,Downtown Toronto,"Ryerson,Garden District",NaN,NaN